﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<h2>asanca is short for A simple ASP.NET Core App</h2>
	<p>A very simple app based on the webapp templete</p>
	<p>Yet another change!!!!!!</p>

<p>Links:</p>
<ul>
<li><a href="https://gitlab.com/permadsenaalborg/a-simple-asp.net-core-app.git">App Source</a></li>
<li><a href="https://gitlab.com/permadsenaalborg/dotnetcoredockerdemo.git">Misc Docker setup</a></li>


</ul>
</div>
